{% extends 'adf_web_ui/overlay.html' %}
{% load static %}

{% block title %}
ADF UI homepage
{% endblock %}

{% block content %}

{% verbatim %}

<body>

    <div id="flows-app">

        <div class="error" v-if="error_title !== null">
            <div style="text-align: center; padding: 15px; font-size: 2em;">{{ error_title }}</div>
            <div style="text-align: center; padding: 15px;">
                {{ error_message }}
            </div>
            <div style="text-align: center; padding: 15px;">
                <button v-on:click="reset_error()">OK</button>
            </div>
        </div>

        <div v-if="(flow_config === null) || (flow_config_tab === null)">

            <div>
                <form enctype=multipart/form-data method="post" action="/ui/api/flow_configs/" class="form-inline">
                    {% endverbatim %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add Flow Config</button>
                    {% verbatim %}
                </form>
            </div>
            <div class="flow-config-display">
                <div style="float: left; width: 50%;">
                    <div class="flow-config-table-container">
                        <table class="flow-config-table">
                            <colgroup>
                                <col span="1" style="width: 15%;">
                                <col span="1" style="width: 30%;">
                                <col span="1" style="width: 30%;">
                                <col span="1" style="width: 12.5%;">
                                <col span="1" style="width: 12.5%;">
                            </colgroup>
                            <tr style="background-color: var(--table-header-color);">
                                <th><button class="refresh-button" v-on:click="refresh_flow_configs(); render_flow_dag();">REFRESH</button></th>
                                <th>Flow Config</th>
                                <th>Implementer Class</th>
                                <th>Implementer Config File</th>
                                <th>Flow Config File</th>
                            </tr>
                            <tr v-for="flow_config in flow_configs" v-bind:key="flow_config.name" :style="flow_config_id === flow_config.id ? 'background-color: #d1d1e0;' : ''">
                                <td>
                                    <div class="flow-config-entry"><button class="alert-button" v-on:click="delete_flow_config(flow_config.id)">X</button></div>
                                    <div class="flow-config-entry"><button class="explore-button" v-on:click="set_flow_config_id(flow_config.id); set_flow_config_tab('cmd');">EXPLORE</button></div>
                                </td>
                                <td v-on:click="set_flow_config_id(flow_config.id)" style="cursor: pointer;">
                                    <div class="flow-config-entry">{{ flow_config.name }}</div>
                                </td>
                                <td v-on:click="set_flow_config_id(flow_config.id)" style="cursor: pointer;"> {{ flow_config.implementer_class }} </td>
                                <td> <a :href="flow_config.implementer_config_file">Download</a> </td>
                                <td> <a :href="flow_config.flow_config_file">Download</a> </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="flow-config-svg-container">
                    <div style="position: relative; left: 10px; top: 10px;">
                        <button v-on:click="fetch_flow_state(flow_config_id); render_flow_dag();">REFRESH</button>
                    </div>
                    <div>
                        <svg width=850 height=500 v-on:update="$root.fetch_flow_state(data.flow_config_id)"></svg>
                    </div>
                </div>
            </div>

        </div>
        <div v-else>

            <!-- Tab links -->
            <div class="flow-title">
                <button v-on:click="reset_params()">CLOSE</button>
                Flow Config : {{ flow_config.name }}
            </div>
            <div class="tab">
                <button :style="(flow_config_tab === 'dag') ? 'background-color: #bbbbbb;' : ''" v-on:click="set_flow_config_tab('dag'); fetch_flow_state(flow_config_id);">DAG state</button>
                <button :style="(flow_config_tab === 'cmd') ? 'background-color: #bbbbbb;' : ''" v-on:click="set_flow_config_tab('cmd')">Implementer commands</button>
                <button :style="(flow_config_tab === 'fcd') ? 'background-color: #bbbbbb;' : ''" v-on:click="set_flow_config_tab('fcd')">Flow config</button>
                <button :style="(flow_config_tab === 'icd') ? 'background-color: #bbbbbb;' : ''" v-on:click="set_flow_config_tab('icd')">Implementer config</button>
            </div>
            <!-- Tab content -->
            <div v-if="flow_config_tab === 'fcd'" class="tabcontent">
                <div class="config-file-display">
                    <div class="form-inline" style="float: right;">
                        <button v-on:click="upload_file('flow_config_upload_file', '/ui/api/flow_configs_file_update/'+flow_config.id+'/flow_config_file/')">REUPLOAD</button>
                        <input type="file" @change="set_upload_file('flow_config_upload_file', $event)">
                    </div>
                    <h3><a :href="flow_config.flow_config_file">Flow config</a></h3>
                    <pre>{{ flow_config.flow_config_details }}</pre>
                </div>
            </div>
            <div v-if="flow_config_tab === 'icd'" class="tabcontent">
                <div class="config-file-display">
                    <div class="form-inline" style="float: right;">
                        <button v-on:click="upload_file('implementer_config_upload_file', '/ui/api/flow_configs_file_update/'+flow_config.id+'/implementer_config_file/')">REUPLOAD</button>
                        <input type="file" @change="set_upload_file('implementer_config_upload_file', $event)">
                    </div>
                    <h3><a :href="flow_config.implementer_config_file">Implementer config</a></h3>
                    <pre>{{ flow_config.implementer_config_details }}</pre>
                </div>
            </div>
            <div v-if="flow_config_tab === 'dag'" class="tabcontent">
                <dag-tab :data="$data"></dag-tab>
            </div>
            <div v-if="flow_config_tab === 'cmd'" class="tabcontent">
                <cmd-tab :data="$data"></cmd-tab>
            </div>
        </div>

    </div>

</body>

{% endverbatim %}

{% endblock %}
